@{
    ViewBag.Title = "About";
}

<h2 align="center">About</h2>
<div align="center">
<p>
I created this website modeled after one of my most favorite sites on the net, one that I visit everyday. Hacker News. Located at https://news.ycombinator.com/news
The site is very simple as you can see. Any anonymous user can submit a story. The story is then displayed on the front page of the site. A link to the site
as well as date that the submission was made is included. Thats pretty much Hacker News in a nutshell. Of course they have registered users who submit the stories 
to their main page. Adding extra features would not be much of a chore, I think its a pretty good start to a Hacker News clone.

This is my next to last semester at Bellevue, and not ONCE have I ever purchased the accompanying suggested book. For this class my wife thought it would be a good idea
and thus... I ended up with a copy of Murach's C#. Which I am very VERY glad I did. I probably build this rather simple site in the stupidist way possible. I ended up
looking at Linq to get my data off my database and into my pages. Without that book, and several websites I would have been quite lost. As usual, thanks to stackexchange for
help, as well as numerous websites by various ASP and C# developers, including http://www.4guysfromrolla.com/.
</p>
</div>
